<header class="w-100 d-flex justify-content-between py-3 px-4">
    <div class="logo-container">
        <h1>Ingressos</h1>
    </div>
    {% if request.user.is_authenticated %}
    <div class="d-flex gap-3 py-3 profile-info-container">
        <p class="mt-2" style="margin: 0;">Olá, {{ request.user.username }}!</p>
        <a class="btn btn-primary" href="{% url 'list-orders' %}">Meus Pedidos</a>
        <a class="btn btn-secondary" href="{% url 'logout' %}">Sair</a>
    </div>
    {% endif %}
</header>